openapi: 3.0.1
info:
  title: RCP Partner API
  description: RCP Partner API allows managing data related with a single partner
    through a simple API that have access to any data related to that partner.
  contact:
    email: info@remotecarepartners.com
  version: 0.1.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://cloud.hub.remotecarepartners.com/{environment}/netcomp_rcp/rpc/partners/api/v1
  variables:
    environment:
      default: prod
      enum:
      - dev
      - qa
      - prod
tags:
- name: organization
  description: Organizations
  externalDocs:
    description: GitHub
    url: https://github.com/netscale-technologies/netcomp_rcp_doc/blob/prod/doc/organizations.md
- name: office
  description: Office (aka Branch)
  externalDocs:
    description: GitHub
    url: https://github.com/netscale-technologies/netcomp_rcp_doc/blob/prod/doc/offices.md
paths:
  /organization:
    get:
      tags:
      - organization
      summary: Finds organizations
      description: Find organizations according to optional filter parameters
      operationId: getOrganizations
      parameters:
      - name: name
        in: query
        description: Status values that need to be considered for filter
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - read:organization
    put:
      tags:
      - organization
      summary: Update an existing organization
      operationId: updateOrganization
      requestBody:
        description: Organization object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Organization not found
          content: {}
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - write:organization
        - read:organization
      x-codegen-request-body-name: body
    post:
      tags:
      - organization
      summary: Add a new organization to the given partner
      operationId: addOrganization
      requestBody:
        description: Organization object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - write:organization
        - read:organization
      x-codegen-request-body-name: body
  /organization/{organizationUid}:
    get:
      tags:
      - organization
      summary: Find organization by UID
      description: Returns a single organization
      operationId: getOrganization
      parameters:
      - name: organizationUid
        in: path
        description: UID of organization to return
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Organization not found
          content: {}
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - read:organization
    delete:
      tags:
      - organization
      summary: Deletes an organization
      operationId: deleteOrganization
      parameters:
      - name: organizationUid
        in: path
        description: Organization UID to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Organization not found
          content: {}
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - write:organization
        - read:organization
  /office:
    get:
      tags:
      - office
      summary: Finds offices
      description: Find offices according to optional filter parameters
      operationId: getOffices
      parameters:
      - name: name
        in: query
        description: Status values that need to be considered for filter
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Office'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - read:office
    put:
      tags:
      - office
      summary: Update an existing office
      operationId: updateOffice
      requestBody:
        description: Office object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Office'
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Office not found
          content: {}
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - write:office
        - read:office
      x-codegen-request-body-name: body
    post:
      tags:
      - office
      summary: Add a new office to the given partner
      operationId: addOffice
      requestBody:
        description: Office object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Office'
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - write:office
        - read:office
      x-codegen-request-body-name: body
  /office/{officeUid}:
    get:
      tags:
      - office
      summary: Find office by UID
      description: Returns a single office
      operationId: getOffice
      parameters:
      - name: officeUid
        in: path
        description: UID of office to return
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Office not found
          content: {}
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - read:office
    delete:
      tags:
      - office
      summary: Deletes an office
      operationId: deleteOffice
      parameters:
      - name: officeUid
        in: path
        description: Office UID to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Office not found
          content: {}
        "406":
          description: Accepted media type not supported
          content: {}
        "415":
          description: Unsupported media type
          content: {}
      security:
      - partner_auth:
        - write:office
        - read:office
components:
  schemas:
    Organization:
      type: object
      properties:
        uid:
          type: string
          description: Unique (for domain) id of organization, no special characters
            allowed.
        name:
          type: string
          description: User friendly description.
        phone:
          type: string
          description: Phone
        address:
          $ref: '#/components/schemas/Address'
        timezone:
          type: string
          description: Timezone (Currently not existing at organization level)
    Office:
      type: object
      properties:
        uid:
          type: string
          description: Unique (for domain) id of office, no special characters allowed.
        organization_uid:
          type: string
          description: UID of valid organization.
        name:
          type: string
          description: User friendly description.
        phone:
          type: string
          description: Phone
        address:
          $ref: '#/components/schemas/Address'
        timezone:
          type: string
          description: Timezone
    Address:
      required:
      - street
      type: object
      properties:
        street:
          type: string
          description: Street name
        code:
          type: string
          description: ZIP code
        city:
          type: string
          description: City name
        province:
          type: string
          description: Province name
        state:
          type: string
          description: State name
        country:
          type: string
          description: Country name
    Error:
      required:
      - code
      - description
      type: object
      properties:
        code:
          type: string
          description: Error code
        description:
          type: string
          description: Error description in English
  securitySchemes:
    partner_auth:
      type: http
      scheme: basic
